<app-auth>
  <div class="max-w-md w-full space-y-8">
    <h1 class="font-[Tapestry] text-4xl text-center text-indigo-600">
      Ticketer
    </h1>
    <h2
      class="mt-6 text-center text-3xl tracking-tight font-bold text-gray-900"
    >
      Sign in to your account
    </h2>
    <form ngNativeValidate class="mt-8 space-y-6" (ngSubmit)="loginUser()">
      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <label for="email-address" class="sr-only">Email address</label>
          <input
            id="email-address"
            name="email"
            type="email"
            required
            class="appearance-none rounded-none relative block w-full px-4 py-3 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm md:text-base"
            placeholder="Email address"
            [(ngModel)]="email"
          />
        </div>
        <div>
          <label for="password" class="sr-only">Password</label>
          <input
            id="password"
            name="password"
            type="password"
            autocomplete="current-password"
            required
            class="appearance-none rounded-none relative block w-full px-4 py-3 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm md:text-base"
            placeholder="Password"
            minlength="8"
            [(ngModel)]="password"
          />
        </div>
      </div>

      <div>
        <button
          type="submit"
          class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 md:text-base"
        >
          <span class="absolute left-0 inset-y-0 flex items-center pl-3">
            <fa-icon
              [icon]="faLock"
              class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400"
            ></fa-icon>
          </span>
          {{ loading ? "Loading..." : "Login" }}
        </button>
      </div>

      <div class="flex flex-col justify-center text-center">
        <div class="text-sm md:text-base px-5">
          <a
            routerLink="/signup"
            class="font-medium text-indigo-600 hover:text-indigo-500"
          >
            Don't have an account?
          </a>
        </div>
      </div>
    </form>
  </div>
</app-auth>
