<div class="overflow-x-auto relative">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="py-3 px-6" *ngFor="let header of headers">
          {{ header.text }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
        *ngFor="let ticket of data"
      >
        <td class="py-4 px-6" *ngFor="let header of headers">
          {{ ticket[header.value] }}
        </td>
      </tr>
    </tbody>
  </table>
  <p class="mt-8 text-center text-gray-500" *ngIf="!data.length">
    No tickets generated. Click on 'generate ticket'.
  </p>
</div>
